<!-- Copyright (c) 2024 by LindsayMac (https://codepen.io/LindsayMac/pen/YzzqRo) -->
<div
    class="container max-w-md mx-auto xl:max-w-3xl flex rounded-lg overflow-hidden justify-center content-center shadow-lg bg-paleGreen">

    <div class="w-full xl:w-1/2 p-8 ">
        <form method="post" action="#" onSubmit="return false">
            <h1 class=" text-2xl font-bold">Sign up for an account</h1>
            <div>
                <span class="text-gray-600 text-sm">Already have an account?
                    <a href="login" class="text-gray-700 text-sm font-semibold">Login here</span></a>
            </div>
            <div class="mb-4 mt-6">
                <label class="block text-gray-700 text-sm font-semibold mb-2" htmlFor="name">
                    Name
                </label>
                <input
                    class="text-sm appearance-none rounded-full w-full border py-2 px-3 text-gray-700 bg-gray-200 shadow-lg leading-tight focus:outline-none focus:shadow-outline h-10"
                    id="name" type="text" placeholder="Your name" />
            </div>
            <div class="mb-4 mt-6">
                <label class="block text-gray-700 text-sm font-semibold mb-2" htmlFor="email">
                    Email
                </label>
                <input
                    class="text-sm appearance-none rounded-full w-full border py-2 px-3 text-gray-700 bg-gray-200 shadow-lg leading-tight focus:outline-none focus:shadow-outline h-10"
                    id="email" type="text" placeholder="Your email address" />
            </div>
            <div class="mb-6 mt-6">
                <label class="block text-gray-700 text-sm font-semibold mb-2" htmlFor="password">
                    Password
                </label>
                <input
                    class="text-sm bg-gray-200 appearance-none rounded-full border w-full py-2 px-3 text-gray-700 mb-1 shadow-lg leading-tight focus:outline-none focus:shadow-outline h-10"
                    id="password" type="password" placeholder="Your password" />
            </div>
            <div class="flex w-full mt-8">
                <button
                    class="w-full bg-teal text-sm py-2 px-4 font-semibold  hover:scale-105 rounded-full border-teal focus:outline-none focus:shadow-outline h-10"
                    type="button">
                    Sign in
                </button>
            </div>
        </form>
    </div>
    <div class="relative hidden xl:block xl:w-1/2 mt-10">
        <div id="container justify-center">
            <div id="link">Welcome</div>

            <div id="menu">
                <div class="front face">
                    <p>OPENING SOON!</p>
                </div>
            </div>
        </div>
    </div>
</div>